<h1>Listing usergames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usergames.each do |usergame| %>
      <tr>
        <td><%= usergame.name %></td>
        <td><%= usergame.score %></td>
        <td><%= link_to 'Show', usergame %></td>
        <td><%= link_to 'Edit', edit_usergame_path(usergame) %></td>
        <td><%= link_to 'Destroy', usergame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usergame', new_usergame_path %>
