<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usergame.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @usergame.score %>
</p>

<%= link_to 'Edit', edit_usergame_path(@usergame) %> |
<%= link_to 'Back', usergames_path %>
