<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @userlist.name %>
</p>

<p>
  <b>Score:</b>
  <%= @userlist.score %>
</p>


<%= link_to 'Edit', edit_userlist_path(@userlist) %> |
<%= link_to 'Back', userlists_path %>
